<div class="login-register">
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <form>
                    <div class="text-center"><img alt="homepage" src="assets/images/MIM_LOGO.png">
                        <h4 class="m-t-0">Retrieve your Password</h4>
                    </div>
                    <div>
                        <p>To retrieve your password, enter your email address.</p>
                        <p> The email you enter below must match the one used during registration.</p>
                    </div>
                    <mat-form-field>
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="EmailID@example.com" [formControl]="email" required>
                        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                    </mat-form-field>
                    <div class="forgot">

                        <a class="link" routerLink="/login">Return to Login Screen</a>
                    </div>
                    <button mat-raised-button color="primary" (click)="retrieve()">Retrieve</button>


                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>