.login-register {
    height: 100vh;
    display: flex;
    background-size: cover;
    align-items: center;
    background-image: url("../../../../assets/images/background/hr-solutions.jpg");
}
  .login-register .login-register-box {
    max-width: 400px;
    min-width: 280px;
    margin: 0 auto;
    vertical-align: middle;
  }
  .mat-raised-button{
  width: 100%;
  }
  .forgot {
    padding-bottom: 15px;
  }