<mat-card>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Agency name" #input>
          </mat-form-field>
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                     
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let row"> 
                    <div class="d-flex">
                        <img class="mat-card-avatar" src="../../../assets/images/users/profile.png">
                        <div class="m-l-15"><p class="font-bold m-b-0 m-t-0">{{row.name}}</p>
                            <small>Atlanta</small></div></div>
                    </td>
              </ng-container>
        
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef > Email </th>
                <td mat-cell *matCellDef="let row"> {{row.email}} </td>
              </ng-container>
          
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef > Actions </th>
                <td mat-cell *matCellDef="let row"> 
                   
                            <div class="button-row">
                              <button mat-icon-button color="primary">
                                <mat-icon>edit</mat-icon>
                              </button>
                              <button mat-icon-button color="warn">
                                <mat-icon>delete</mat-icon>
                              </button>
                            </div> 
                          
                </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No Agency matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
          
    </mat-card-content>
</mat-card>

