

<mat-card >
    <div class="d-flex flex-wrap">
    <div>
        <mat-card-title>Schedule Onboarding</mat-card-title>
         <mat-card-subtitle>Multiple spots available</mat-card-subtitle> 
     </div>
    </div>
    <mat-card-actions>
        <span fxFlex></span>
        <button mat-flat-button color="warn" class="m-r-10" (click)="startCalendly()">
            Cancel
        </button>
      </mat-card-actions>
    <mat-card-content class='calendly'>
<div class="calendly-inline-widget" data-url="https://calendly.com/lsethuraman"></div>
    </mat-card-content>
</mat-card>

