<div class="login-register">
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="loginForm">
                    <div class="text-center"><img alt="homepage" src="assets/images/MIM_LOGO.png">
                        <h4 class="m-t-0">Login to the WFM</h4>
                    </div>

                    <mat-form-field>
                        <mat-label>Enter your ID</mat-label>
                        <input matInput placeholder="Employee ID" formControlName="ID" required (focus)="onFocus()" type="number">
                        <mat-error *ngIf="this.loginForm.controls.ID.invalid">{{getIDError()}}</mat-error>
                    </mat-form-field>


                    <mat-form-field>
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                        <mat-error *ngIf="this.loginForm.controls.password.invalid">{{getPasswordError()}}</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="forgot">
                        
                    <a class="link" routerLink="/forgot">Forgot your password? Click here.</a>
                </div>    
                </form>
                <button mat-raised-button color="primary" (click)="login()">Log In</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>