<mat-card class="oh text-center little-profile">
    <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="user">
    <mat-card-content>
        <div class="pro-img">
            <img src="assets/images/users/profile.png" width="100" alt="user" class="img-circle">
        </div>
        <h3 class="m-b-0">Full Name</h3>
        <h6 class="m-t-0 ">Title or Role</h6>
        
        <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">100</h3>
                <small>Requistions</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">80</h3>
                <small>Approved</small>
            </div>
            <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                <h3 class="m-0 font-light">20</h3>
                <small>Pending</small>
            </div>
        </div>
    </mat-card-content>
</mat-card>
