<mat-card>
    <mat-card-content>
        <div class="d-flex flex-wrap">
            <div>
                <mat-card-title>Candidates by Agency</mat-card-title>
                 <mat-card-subtitle>April 2021</mat-card-subtitle> 
             </div>
           
        </div>

        <div class="barchrt" style="height:360px;">
            <x-chartist class="" [data]="barChart1.data" [type]="barChart1.type" [options]="barChart1.options" [responsiveOptions]="barChart1.responsiveOptions"
                [events]="barChart1.events"> </x-chartist>
        </div>
    </mat-card-content>
</mat-card>

