<mat-card>
    <div class="p-20 bg-info position-relative">
        <h4 class="card-title text-white m-0">My Candidates</h4>
    </div>
    <div class="message-box contact-box p-20">
        <div class="message-widget contact-widget">
            <!-- Message -->
            <a  *ngFor='let candidate of candidatesData'>
                <div class="user-img">
                    <img [src]='candidate.image' alt="user" class="img-circle">
                    <span class="profile-status pull-right {{candidate.class}}"></span>
                </div>
                <div class="mail-contnet">
                    <h5>{{candidate.name}} </h5>
                    <span class="mail-desc">{{candidate.email}}</span>
                </div>
            </a>
        </div>
    </div>
</mat-card>