<button mat-icon-button class="m-r-5">
    <mat-icon>notifications</mat-icon>
    <div class="notify">
        <span class="pulse"></span>
        <span class="point"></span>
    </div>
</button>
<button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
    <mat-icon><span class="material-icons-outlined">
            account_circle
        </span></mat-icon>
</button>
<button [matMenuTriggerFor]="settings" mat-icon-button class="m-r-5">
    <mat-icon>settings</mat-icon>
</button>

<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>account_box</mat-icon> My Profile
    </button>
    <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon> Sign Out
    </button>
</mat-menu>

<mat-menu #settings="matMenu" class="mymegamenu">
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon> Disable notifications
    </button>
    <button mat-menu-item>
        <mat-icon>video_settings</mat-icon>Dark Theme
    </button>
</mat-menu>