<mat-card>
    <mat-card-content>
        <div class="d-flex flex-wrap">
            <div>
                <mat-card-title>Vacancies by Department</mat-card-title>
                 <mat-card-subtitle></mat-card-subtitle> 
             </div>
            <div class="ml-auto">
                <ul class="list-inline">
                    <li>
                        <h6 class="text-success m-0"><i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Tray TLA</h6> </li>
                    <li>
                        <h6 class=" text-info m-0"><i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>IT</h6> </li>
                        <li>
                            <h6 class="text-warning m-0"><i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Tray Vanilla</h6> </li>
                        <li>
                            <h6 class="color m-0"><i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Racks</h6> </li>
                </ul>
            </div>
        </div>

        <div class="barchrt" style="height:360px;">
            <x-chartist class="department" [data]="barChart1.data" [type]="barChart1.type" [options]="barChart1.options" [responsiveOptions]="barChart1.responsiveOptions"
                [events]="barChart1.events"> </x-chartist>
        </div>
    </mat-card-content>
</mat-card>


