<div fxLayout="row wrap">

    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex no-block">
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="primary">
                                <mat-icon>group_add</mat-icon>
                           </button></div>
                    <div>
                        <h3  class="m-0">350</h3>
                        <h6 class="text-muted m-0">Requisitions</h6>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">

        <mat-card>
            <mat-card-content>
                <div class="d-flex no-block">
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="accent">
                                <mat-icon>groups</mat-icon>
                           </button></div>
                    <div>
                        <h3  class="m-0">200</h3>
                        <h6 class="text-muted m-0">Candidates</h6>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

    </div>
    <div fxFlex.gt-lg="33" fxFlex.gt-md="33" fxFlex.gt-xs="100" fxFlex="100">

        <mat-card>
            <mat-card-content>
                <div class="d-flex no-block">
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn">
                                <mat-icon>verified_user</mat-icon>
                           </button></div>
                    <div>
                        <h3  class="m-0">150</h3>
                        <h6 class="text-muted m-0">Offered</h6>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

</div>