<div class="main-container">
    <mat-toolbar color="primary" class="topbar telative">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <img src="assets/images/MIM_LOGO.png" alt="homepage" class="dark-logo">
                <img src="assets/images/MIM_Transparent.png" alt="homepage" class="light-logo">
            </a>
        </div>
        <!-- sidebar toggle -->
        <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed">
            <mat-icon>menu</mat-icon>
        </button>
        <span fxFlex></span>

        <app-header></app-header>
    </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">

        <mat-sidenav #snav id="snav" class="dark-sidebar pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'"
            fixedTopGap="0" [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches">
            <perfect-scrollbar>
                <div>
                    <app-sidebar></app-sidebar>
                </div>
            </perfect-scrollbar>
        </mat-sidenav>

        <mat-sidenav-content class="page-wrapper">

            <div class="page-content">

                <router-outlet>
                    <app-spinner></app-spinner>
                </router-outlet>

            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>